.featured{
    width: 100%;
    max-width: 1024px;
    display: flex;
    justify-content: space-between;
    gap: 20px;
    z-index: 1;

}
.featuredItem{
    position: relative;
    color: rgb(255, 255, 255);
    overflow: hidden;
   
    border-radius: 10px;
    height: 200px;
    cursor: pointer;

}
.featuredTitles{
    position: absolute;
    bottom: 20px;
}

.featuredImg{
    width: 100%;
    object-fit: cover;
}
h2{
    margin: 0;
    padding: 0;
    font-size: 20px;
}
h1{
    padding: 0;margin: 0;
    font-size: 25px;
    
}
img{
    height: 150px;
    width: 60px;
}